body {
    background: #000428;
    /* fallback for old browsers */
    background: repeating-radial-gradient(
              circle at 1800px 2100px,
              rgba(0, 0, 0, 0.05),
              rgba(255, 255, 255, 0.05) 900px
            ),
             repeating-radial-gradient(
              circle at 0px 2100px,
              rgba(0, 0, 0, 0.05),
              rgba(255, 255, 255, 0.05) 600px
            ),
            linear-gradient(to right, dodgerblue, deepskyblue);

    height: 100vh;

}

.container {
    background-color: rgba(0, 0, 0, 0.9);
    width: 600px;
    border-radius: 10px;
}

label, h1 {
    color: white;
}

form {
    padding: 15px;
}

dialog {
  background-color: transparent;
  border: none;
  padding: 0;
}

input:invalid{
  background-color: tomato;
}